@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');



:root{
    --color1: #f00065 ;
    --color2: #fa9f43 ;
    --color3: #f9fad2;
    --color4: #262324;
    --color5: #b3dbc8; 
}

:root{
    --cor-primaria: #0D0D0D;
    --cor-secundaria: #F2F2F2;
    --cor-terciaria: #7141D9;
    --cor-quarta: #BBE7FFFC;
    --cor-hover: #714BA6;

    --fonte-titulo: "Prompt", sans-serif;
    --fonte-textos: 'Prompt', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* HEADER */

.cabecalho{
    padding: 2% 0 0 15%;
}

.menu{
    display: flex;
    gap: 80px;  
}

.menu-link{
    font-family: var(--fonte-textos);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-quarta);
    text-decoration: none;
}

.menu-link:hover{
    background-color: var(--cor-hover);
    border-radius: 75%;
}

/* BODY */
.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao-conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo{
    font-size: 2.25rem; /* 36px - dividir px por 16 */
    font-family: var(--fonte-titulo);
    font-weight: 400;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao-conteudo-texto{
    font-size: 1.5rem;
    font-family: var(--fonte-textos);
    font-weight: 300;
}

.caixa-links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.links-subtitulo{
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.caixa_link{
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-textos);
    color: var(--cor-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 21.5px 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.caixa_link:hover{
    background-color: var(--cor-hover);
    cursor: pointer;
}

.img-mulher-notebook{
    width: 50%;
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family:var(--fonte-textos);
    font-size: 1.5rem;
    font-weight: 400;
}

/* SOBRE MIM */

.about-apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* MEDIA */

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo{
        width: auto;
    }

}